PORT=3000
DATABASE_URL=postgres://user:password@localhost:5432/db
DATABASE_PORT=5432
JWT_SECRET=super_secret_long_string_at_least_32_chars
HASH_PEPPER=secure_random_pepper_at_least_16_chars
NODE_ENV=development
